<div style="padding: 50px 10px 10px 10px; font-style: italic;  color: #ccc;">
	This is an example community calendar, listing elections and referendums around the world. 
	It is powered by <a href="https://github.com/OpenACalendar/OpenACalendar-StaticWeb-Core">OpenACalendar Static Generator</a> and 
	<a href="https://github.com/JMB-Technology-Limited/OpenACalendar-StaticWeb-Data-ElectionsAndReferendums">the data is here</a>.
	For more info on <a href="http://ican.openacalendar.org/">OpenACalendar community calendars (database backend as well as static), look here</a>.
</div>